<h1>Twitter for Friends</h1>
<% if current_friend && current_friend.admin? %>
  <%= paginate @tweets %>
<% end %>
<%= render 'form' %>

<%= content_tag :div, id: "tweets", data: {url: stream_tweets_url} do %>
  <%= render @tweets %>
<% end %>
<br />

<%= link_to 'New Tweet', new_tweet_path %>
