<!DOCTYPE html>
<html>
<head>
  <title>Twitter For Friends</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<embed src="/assets/messageReceived.wav" autostart="false" width="0" height="0" id="messageReceivedSound" enablejavascript="true">
<script>
function EvalSound(soundobj) {
  var thissound=document.getElementById(soundobj);
  thissound.Play();
}
</script>

<%= render 'layouts/navigation' %>
<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
